@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #fed;
    font-family: 'Raleway', sans-serif;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: rgb(119, 110, 100);
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #262321;
}

.header-left {
    /* background-color: #666; */
    margin-left: 40px;
    width: 360px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog {
    width: 232px;
    height: 52px;
    font-size: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 14px;
    color: #262321;
    border: solid 3px rgb(231, 187, 166);
    transition: 0.1s;
}

.catalog:hover {
    background-color: rgb(231, 187, 166);
    cursor: pointer;
}

.search {
    width: 40%;
    /* background-color: bisque; */
}

.search input {
    width: 100%;
    height: 30px;
    background-color: #fed;
    border-radius: 6px;
    font-family: inherit;
    font-size: 22px;
    color: #262321b2;
    border-bottom: 2px solid #544c6180;
    outline: none;
    padding: 5px;
    transition: 0.4s;
}

.header-right {
    /* background-color: #666; */
    margin-right: 80px;
    width: 402px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
}

.discounts {
    /* background-color: antiquewhite; */
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262321;
    border-right: solid 1px rgb(231, 187, 166);
    transition: 0.2s;
}

.discounts:hover {
    color: #3f3834;
}

.cab {
    /* background-color: bisque; */
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262321;
    border-left: solid 1px rgb(248, 161, 120);
    transition: 0.2s;
}

.cab:hover {
    color: #3f3834;
}

.container {
    width: 80%;
    margin: 20px auto;
    /* background-color: aquamarine; */
}

.name {
    /* background-color: bisque; */
    text-align: center;
    margin-bottom: 20px;
}

.catalog-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.6s;
}

.catalog-open-body {
    background-color: #fed;
    position: absolute;
    top: 100px;
    left: 41px;
    height: 576px;
    width: 238px;
    border-radius: 14px;
    transform: translate(-200%, 0);
    opacity: 0;
    transition: 0.4s;
}

.catalog-open.open {
    opacity: 1;
    visibility: visible;
}

.catalog-open.open .catalog-open-body {
    transform: translate(0, 0);
    opacity: 1;
}

/* .catalog-open-container {} */

.catalog-section {
    max-width: 238px;
    padding: 6px 10px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 3px rgb(150, 138, 126) solid;
    font-size: 24px;
    font-weight: 400;
    color: #262321;
    transition: 0.2s;
}

.catalog-section:hover {
    background-color: rgb(173, 161, 148);
    cursor: pointer;
}

.discount-block {
    border: solid 5px rgb(90, 84, 76);
    background-color: #fed;
    color: #262321;
    width: 100%;
    height: 200px;
    margin: 60px auto;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.discount-block:hover {
    opacity: 0.9;
}

.discount-name {
    width: 50%;
    text-align: center;
    font-size: 30px; 
    font-weight: 500;
    /* background-color:rgba(0, 0, 0, 0.25); */
}

.discount-img {
    /* background-color: aqua; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.block {
    width: 340px;
    height: 600px;
    margin-top: 30px;
    background-color: rgb(165, 151, 138);
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    /* color: rgb(218, 209, 230); */
}

.preview {
    width: 340px;
    height: 420px;
    border-top: 2px solid rgb(119, 110, 100);
    border-bottom: 2px solid rgb(119, 110, 100);
}

.download {
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: center;
}

.price {
    width: 24%;
    color: lightgray;
    font-size: 22px;
    text-align: center;
    margin-right: 12px;
}

.butt {
    color: rgb(255, 207, 185);
    border: solid 3px rgb(255, 207, 185);
    font-family: inherit;
    border-radius: 10px;
    font-size: 22px;
    padding: 16px 46px;
    transition: 0.3s;
}

.butt:hover {
    background-color: rgb(255, 207, 185);
    color: rgb(165, 151, 138);
    cursor: pointer;
}

.profile {
	width: 100%;
	height: 560px;
	margin: 40px auto;
	border-radius: 20px;
	border: solid 5px rgb(165, 151, 138);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.profile-left {
	width: 60%;
	height: 92%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.profile-name {
	width: 90%;
	height: 20%;
	background-color: #fed;
	text-align: center;
	font-size: 60px;
	border-bottom: solid 3px rgb(150, 138, 126);
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-xxx {
	width: 90%;
	height: 70%;
}

.profile-right {
	width: 34%;
	height: 92%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.profile-avatar {
	width: 64%;
	height: 40%;
	border-radius: 12px;
	border-left: solid 3px rgb(255, 207, 185); 
	border-bottom: solid 3px rgb(255, 207, 185);
	color: rgb(150, 138, 126);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-info {
	width: 90%;
	height: 54%;
}

footer {
    background-color: #262321;
    height: 12vh;
    text-align: center;
    color: white;
    padding: 40px;
}